[Unit]
Description=SMProxy Service
After=network.target

[Service]
Environment="CONFIG=/usr/local/db/sm_readonly.yaml" "PIDFILE=/data/tmp_db/smproxy.pid"
WorkingDirectory=/usr/local/db/
ExecStart=/usr/local/db/service_sm_proxy -config $CONFIG  -log-path /data/logs/service.log -log-level=debug -pidfile $PIDFILE

Restart=always

User=worker
Group=worker

LimitNOFILE=100000
LimitNPROC=100000

[Install]
WantedBy=multi-user.target