[Unit]
Description=SMProxy Service
After=network.target

[Service]
Environment="CONFIG=/usr/local/service/dbproxy/sm.yaml" "PIDFILE=/usr/local/service/dbproxy/proxy_unix.pid"
WorkingDirectory=/usr/local/service/dbproxy/
ExecStart=/usr/local/service/dbproxy/service_sm_proxy -config $CONFIG  -address /usr/local/service/dbproxy/proxy_unix.sock -log-path /data/logs/proxy_unix.log -log-level=debug -pidfile $PIDFILE
ExecReload=/bin/kill -USR2 $MAINPID

Restart=always
User=worker
Group=worker

LimitNOFILE=100000
LimitNPROC=100000

[Install]
WantedBy=multi-user.target